html {
    height: 100%;
    background-color: #d8dce0;
}

.product-bets-buttons-wrapper {
    padding: 10px 5px 10px 36px;
}

.product-bets-buttons-wrapper.row,
.products-data-container.row,
.product-bets-data-container.row {
    margin-right: 0;
    margin-left: 0;
}

.products-data-container.row,
.product-bets-data-container.row {
    padding: 10px;
}

.products-data-container .card,
.product-bets-data-container .card {
    margin: 5px 23px 5px 23px;
}

.paginationjs .paginationjs-pages {
    width: 100%;
    text-align: center;
    float: none;
}

.paginationjs .paginationjs-pages ul {
    display: inline-block;
    text-align: initial;
    float: none;
}

.content-container #products-list,
.content-container #product-bets-list {
    padding: 0;
    border-radius: 0;
    margin-bottom: 0;
}

#product-bets-list {
    background-color: #d8dce0;
    display: none;
}

.btn {
    cursor: pointer;
}

.alert-success.alert, .alert-danger.alert {
    margin-top: 5px;
    margin-bottom: 0;
    display: none;
}