html, body, .content-container {
    height: 100%;
}

#products-list, #product-bets-list {
    height: 50%;
}

.products-data-container.row,
.product-bets-data-container.row {
    padding: 10px;
    margin-right: 0;
    margin-left: 0;
}

.products-data-container .card,
.product-bets-data-container .card {
    margin: 5px 23px 5px 23px;
}

.paginationjs .paginationjs-pages {
    width: 100%;
    text-align: center;
    float: none;
}

.paginationjs .paginationjs-pages ul {
    display: inline-block;
    text-align: initial;
    float: none;
}

.content-container #products-list,
.content-container #product-bets-list {
    padding: 0;
    border-radius: 0;
    margin-bottom: 0;
}

#product-bets-list {
    background-color: #d8dce0;
}

.btn {
    cursor: pointer;
}